* {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  font-size: 1.2vmax; }

header > h1 {
  font-size: 4em; }

body {
  background-color: white; }

#main-container {
  display: flex;
  flex-direction: column; }

.flex-child {
  align-self: center;
  margin-bottom: 1em; }

#gallery {
  border: 1px solid black;
  border-radius: 2px; }
  #gallery .tile {
    height: 10em;
    width: 10em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
